<nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-black p-0">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item footer-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" href="starwars.com">Star Wars</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" href="google.com">Google</a>
    </li>
    <li class="nav-item footer-item">
      <a class="nav-link" href="lego.com">Legos</a>
    </li>
  </ul>
</nav>